My project number one is a stock and crypto watch written in  python. It was compiled in to an exe for conventent use. Have a link to it here <p><a href="https://codeberg.org/atpen/playground/src/branch/main/project%231">https://codeberg.org/atpen/playground/src/branch/main/project%231</a></p>